:root {
  --bg-color: hsla(0, 0%, 100%, 1);
  --contrast-color: hsla(180, 24%, 81%, 1);
  --section-color: hsla(0, 0%, 96%, 1);
  --section-heading-color: hsla(180, 69%, 25%, 1);
}
@media (max-width: 992px) {
  section {
    gap: 168px;
    justify-content: flex-start;
    height: 100%;
  }
  h1 {
    max-width: 380px;
    line-height: inherit;
  }
  .card-wrapper {
    flex-direction: column;
    gap: 168px;
    width: 100%;
    align-items: center;
  }
}
body {
  margin: 0;
}
section {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 64px;
  align-items: center;
  background-color: var(--section-color);
  max-width: 1140px;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 27px;
  color: var(--section-heading-color);
}
h2 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
}
p {
  margin: 0;
  line-height: 27px;
}
.small-text {
  font-weight: 400;
  font-size: 18px;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--bg-color);
  border-bottom: solid 4px var(--contrast-color);
  border-radius: 0 24px;
  max-width: 278px;
  height: fit-content;
  padding: 32px 24px;
}
.img-container {
  position: relative;
  max-width: 326px;
  width: -webkit-fill-available;
  margin: 0 -24px;
}
img {
  position: absolute;
  width: 100%;
  bottom: 32px;
  border-radius: 0 24px 0 0;
  margin-bottom: -32px;
}
a:link,
a:visited {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: -webkit-fill-available;
  padding: 12px 8px;
  border-radius: 8px;
  background-color: var(--contrast-color);
}
